.title{
  text-align: center;
  font-style: italic;
  font-stretch: expanded;
}
.side-img{
  float: left;
  margin: 0 0 0 300px;
}

.front-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 50%;
  border: 10px solid black;
}

.flashy {
  color: red;
  font-style: italic;
  text-align: center;
}

.best{
  color: #2E0854;
  font-style: italic;
  font-weight: bold;
}

.sidebar{
  width: 30%;
  border: 3px solid black;
  padding: 10px;
  margin-right: 100px;
  float: right;
  background-color: yellow
}
